/* 背景色を黒からグレーへの夕暮れ時のようなグラデーション */
body {
    background: linear-gradient(135deg, #1a1a1a, #964b00);
    color: #fff;
    margin: 0;
    min-height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#logo_kintoys {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    animation: pulsing 6s infinite;
}

#logo_kintoys:hover {
    animation: pulsing 3s infinite;
}

@keyframes pulsing {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    25% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    75% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}